.CardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.CardList__item {
    display: flex;
    flex-direction: column;
}

.CardList__item-header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.CardList__item-image {
    width: 300px;
    height: 300px;
}

@media (max-width: 600px) {
    .CardList {
        flex-direction: column;
    }
}